<!DOCTYPE html>
<!--
  Author: pxz
  Email: buffll@foxmail.com
  2021-02-23 15:59
-->
<!--后台管理页面的公共片段-->

<!----------------------公共头部---------------------->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta name="Author" content="pxz" />
	<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title th:replace="${title}"></title>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
	<link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/css/me.css}">
</head>

<!----------------------导航栏---------------------->
<nav th:fragment="navigation(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
	<div class="ui container">
		<div class="ui inverted secondary stackable menu">
			<h3 class="ui teal header item">
				<a class="ui teal header" th:href="@{/admin/index}">管理后台</a>
			</h3>
			<a th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n == 1} ? 'active'">
				<i class="home icon"></i>
				博客
			</a>
			<a th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n == 2} ? 'active'">
				<i class="file alternate icon"></i>
				分类
			</a>
			<a th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n == 3} ? 'active'">
				<i class="tags icon"></i>
				标签
			</a>
			
			<div class="right m-item m-mobile-hide menu">
				<div class="ui dropdown  item">
					<div class="text">
						<img class="ui avatar image" th:src="@{${session.user.avatar}}">
						<span th:text="${session.user.nickname}"></span>
					</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a th:href="@{/admin/logout}" class="item">注销</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
		<i class="sidebar icon"></i>
	</a>
</nav>

<!----------------------公共js引用---------------------->
<th:block th:fragment="script">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</th:block>