<!DOCTYPE html>
<!--
  author pxz
  email buffll@foxmail.com
-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta name="Author" content="pxz" />
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>归档</title>
    <link rel="shortcut icon" th:href="@{../img/favicon.ico}" />
    <link th:href="@{https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/me.css}">
  </head>

  <body>

    <!--导航-->
    <div class="myNav"></div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <!--header-->
        <div class="ui top attached padded segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header">归档</h3>
            </div>
            <div class="right aligned column">
              共 <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> 篇博客
            </div>
          </div>
        </div>

        <h3 class="ui center aligned header">2017</h3>
        <div class="ui fluid vertical menu">
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
        </div>

        <h3 class="ui center aligned header">2016</h3>
        <div class="ui fluid vertical menu">
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
          <a href="#" target="_blank" class="item">
            <span>
              <i class="mini teal circle icon"></i>
              关于刻意练习的清单
              <div class="ui teal basic left pointing label m-padded-mini ">9月03日</div>
            </span>
            <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
          </a>
        </div>
      </div>
    </div>

    <br>
    <br>
    <!--底部footer-->
    <div class="myFooter"></div>

    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js}"></script>
    <script th:src="@{../js/commons.js}"></script>

    <script>
      $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
      });

    </script>
  </body>

</html>